<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/papelera2</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- dialecto sql -->
    <property name="show_sql">true</property>
    <!-- mostrar consulta sql en consola-->
    <!--<property name="hbm2ddl.auto">update</property> create drop es para que cuando conecte mate las tablas y las cree denuevo-->
    
    <mapping resource="mapeos/Rubro.hbm.xml"/>
    <mapping resource="mapeos/SubRubro.hbm.xml"/>
    <mapping resource="mapeos/Proveedor.hbm.xml"/>
    <mapping resource="mapeos/Articulo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
